.button {
  background-color: silver;
  border: 2px solid white;
  border-right-color: black;
  border-bottom-color: black;
  margin: 0 5px;
  padding: 4px;
  cursor: pointer;
  color: black;
  text-decoration: none;
  display: inline-block;
}

.button:hover {
  color: black;
  text-decoration: none;
}

.button:active {
  border-color: black;
  border-right-color: white;
  border-bottom-color: white;
}

.active {
  border-color: black;
  border-right-color: white;
  border-bottom-color: white;
}
