/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: blue;
  --ifm-color-primary-dark: blue;
  --ifm-color-primary-darker: blue;
  --ifm-color-primary-darkest: blue;
  --ifm-color-primary-light: blue;
  --ifm-color-primary-lighter: blue;
  --ifm-color-primary-lightest: blue;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Windows 95';
  --ifm-heading-font-weight: 100;
  --ifm-footer-background-color: silver;
  --ifm-toc-border-color: transparent;
  --ifm-navbar-background-color: silver;
  --ifm-navbar-shadow: none;
  font-family: 'Windows 95'
}

@font-face {
  font-family: 'Windows 95';
  src: url('/w95fa.woff2') format('woff2'),
      url('/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: silver;
  cursor: url(../square-16.png), auto;
}

div {
  cursor: url(../square-16.png), auto;
}

hr {
  background-color: silver;
  border: 3px solid black;
  border-right-color: white;
  border-bottom-color: white;
}

html footer {
  background-color: black;
}

/* .theme-doc-sidebar-item-link {
  margin-top: 0 !important;
}

.theme-doc-sidebar-item-link .menu__link {
  border-top: 1px solid grey;
  border-left: 2px solid white;
  border-bottom: 1px solid grey;
  border-right: 2px solid white;
  border-radius: 0;
  background: silver;
}

.theme-doc-sidebar-item-link .menu__link.menu__link--active {
  border-right: 0;
} */

.theme-doc-sidebar-item-link .menu__link {
  border: 3px solid white;
  border-right-color: black;
  border-bottom-color: black;
  background: silver;
}

.theme-doc-sidebar-item-link .menu__link.menu__link--active {
  border-color: black;
  border-right-color: white;
  border-bottom-color: white;
}
