/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #010181;
  --ifm-color-primary-dark: #010181;
  --ifm-color-primary-darker: #010181;
  --ifm-color-primary-darkest: #010181;
  --ifm-color-primary-light: #010181;
  --ifm-color-primary-lighter: #010181;
  --ifm-color-primary-lightest: #010181;
  --ifm-code-font-size: 95%;
  --ifm-font-family-base: 'Windows 95';
  --ifm-heading-font-weight: 100;
  --ifm-footer-background-color: silver;
  --ifm-toc-border-color: transparent;
  --ifm-navbar-background-color: silver;
  --ifm-navbar-shadow: none;
  font-family: 'Windows 95'
}

@font-face {
  font-family: 'Windows 95';
  src: url('/w95fa.woff2') format('woff2'),
      url('/w95fa.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: silver;
  cursor: url(../square-16.png), auto;
}

div {
  cursor: url(../square-16.png), auto;
}

hr {
  background-color: silver;
  border: 2px solid black;
  border-right-color: white;
  border-bottom-color: white;
}

.theme-doc-sidebar-item-link .menu__link {
  border: 2px solid white;
  border-right-color: black;
  border-bottom-color: black;
  background: silver;
  border-radius: 0;
}

.theme-doc-sidebar-item-link .menu__link.menu__link--active {
  border-color: black;
  border-right-color: white;
  border-bottom-color: white;
}

/* XXX this is a little dangerous. it hides the first element of the sidebar,
  which by convention should be the index element
*/
.theme-doc-sidebar-item-link.menu__list-item:first-child {
  display: none;
}
